mixin ui-checkbox(id, text, mods)
  -
    const baseName = 'ui-checkbox';
    let allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      const modsList = mods.split(',');
      for (const element of modsList) {
        allMods = allMods + ' '
        allMods = element.trim()[0] === '-' ? allMods + baseName + element.trim() : allMods + element.trim() + '__' + baseName
      }
    }

  .ui-checkbox(class=allMods)&attributes(attributes)
    label(for=id)
      input(id=id type='checkbox' name=id)
      span!=text
        block
