mixin ui-button(text, mods, isSubmit)
  -
    var baseName = 'ui-button';
    var allMods = '';
      if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
          if (modsList[i].trim()[0] == '-') {
            allMods = allMods + baseName + modsList[i].trim() + ' ';
          } else {
            allMods = allMods + modsList[i].trim() + '__' + baseName + ' ';
          }
        }
      }

  if (attributes.href)
    .ui-button(class=allMods)
      a&attributes(attributes)!=text
        block

  else if (typeof(isSubmit) !== 'undefined' && isSubmit)
    .ui-button(class=allMods)
      input(value=text, type='submit')&attributes(attributes)

  else
    .ui-button(class=allMods)&attributes(attributes)
      button!=text
        block
